@use "./base.scss";

// put your custom CSS here!

.page-header a[href="."] {
  color: var(--dark);
  font-size: calc(1.6rem + 0.5vw);
  text-decoration: none;
}

.page-header a[href="."]:hover {
  color: var(--tertiary);
}

.article-title {
  margin: 4rem 0 4rem;
  color: var(--dark);
  font-size: calc(1.35em + 0.55vw);
}

ul.datelist {
  list-style: none;
  padding-left: 0;
}

ul.datelist li {
  position: relative;
  padding-left: 6rem;
  margin-bottom: 1rem;
}

ul.datelist li::before {
  content: attr(data-date);
  position: absolute;
  left: 0;
  color: var(--gray);
  font-weight: bold;
}
